# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# -----------------------------------------
# INVENTORY SERVICE
# -----------------------------------------

# gRPC сервер
INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051
# HTTP сервер
INVENTORY_HTTP_HOST=0.0.0.0
INVENTORY_HTTP_PORT=8081

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:8.2.7
INVENTORY_MONGO_EXTERNAL_PORT=27017
INVENTORY_MONGO_HOST=localhost
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=inventory_user
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=inventory_pass

#Logger
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# -----------------------------------------
# ORDER SERVICE
# -----------------------------------------

# gRPC клиенты
ORDER_INVENTORY_GRPC_HOST=localhost
ORDER_INVENTORY_GRPC_PORT=50051
ORDER_PAYMENT_GRPC_HOST=localhost
ORDER_PAYMENT_GRPC_PORT=50052

# HTTP сервер
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080
ORDER_HTTP_READ_TIMEOUT=10s

# PostgreSQL
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=5432
ORDER_POSTGRES_EXTERNAL_PORT=5432
ORDER_POSTGRES_USER=orders_user
ORDER_POSTGRES_PASSWORD=orders_pass
ORDER_POSTGRES_DB=orders
ORDER_POSTGRES_SSL_MODE=disable
ORDER_MIGRATION_DIRECTORY=./order/migrations

#Logger
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# Kafka
ORDER_KAFKA_BROKERS=localhost:9092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ORDER_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=order-group-order-assembled

# -----------------------------------------
# PAYMENT SERVICE
# -----------------------------------------

# gRPC сервер
PAYMENT_GRPC_HOST=localhost
PAYMENT_GRPC_PORT=50052

# HTTP сервер
PAYMENT_HTTP_HOST=localhost
PAYMENT_HTTP_PORT=8082

# Logger
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true

# -----------------------------------------
# ASSEMBLY СЕРВИС
# -----------------------------------------

# Kafka настройки
ASSEMBLY_KAFKA_BROKERS=localhost:9092
ASSEMBLY_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID=assembly-group-order-paid
ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled

# Логгер
ASSEMBLY_LOGGER_LEVEL=info
ASSEMBLY_LOGGER_AS_JSON=true

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

# Kafka настройки
NOTIFICATION_KAFKA_BROKERS=localhost:9092
NOTIFICATION_ORDER_PAID_TOPIC_NAME=order.paid
NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=notification-group-order-paid
NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-group-order-assembled

# Telegram бот
NOTIFICATION_TELEGRAM_BOT_TOKEN=8889497021:AAFbHVP8zKRvz_SMpo3aWYZbqRLD3kr-c-I

# Логгер
NOTIFICATION_LOGGER_LEVEL=info
NOTIFICATION_LOGGER_AS_JSON=true