# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# OpenTelemetry Collector
CORE_OTEL_GRPC_PORT=4317
CORE_OTEL_HTTP_PORT=4318
CORE_OTEL_BATCH_SIZE=1000
CORE_OTEL_BATCH_TIMEOUT=10s
CORE_OTEL_COLLECTOR_METRICS_PORT=8889
CORE_OTEL_LOG_LEVEL=detailed

# Jaeger
CORE_JAEGER_HOST=jaeger
CORE_JAEGER_PORT=4317
CORE_JAEGER_UI_PORT=16686

# Elasticsearch
CORE_ELASTICSEARCH_HOST=localhost
CORE_ELASTICSEARCH_PORT=9200

# Kibana
CORE_KIBANA_HOST=localhost
CORE_KIBANA_PORT=5601

# Prometheus
CORE_PROMETHEUS_HOST=prometheus
CORE_PROMETHEUS_PORT=9090
CORE_PROMETHEUS_SCRAPE_INTERVAL=15s
CORE_PROMETHEUS_EVALUATION_INTERVAL=15s

# Grafana
CORE_GRAFANA_PORT=3000
CORE_GRAFANA_ADMIN_USER=admin
CORE_GRAFANA_ADMIN_PASSWORD=admin
# -----------------------------------------
# IAM СЕРВИС
# -----------------------------------------

# gRPC настройки
IAM_GRPC_HOST=localhost
IAM_GRPC_PORT=50053

# PostgreSQL
IAM_POSTGRES_HOST=localhost
IAM_POSTGRES_PORT=5433
IAM_EXTERNAL_POSTGRES_PORT=5433
IAM_POSTGRES_USER=iam_user
IAM_POSTGRES_PASSWORD=iam_password
IAM_POSTGRES_DB=iam
IAM_POSTGRES_SSL_MODE=disable
IAM_MIGRATION_DIRECTORY=./iam/migrations

# Redis
IAM_REDIS_HOST=localhost
IAM_REDIS_PORT=6333
IAM_EXTERNAL_REDIS_PORT=6333
IAM_REDIS_CONNECTION_TIMEOUT=10s
IAM_REDIS_MAX_IDLE=10
IAM_REDIS_IDLE_TIMEOUT=10s
IAM_SESSION_TTL=24h

# Logger
IAM_LOGGER_LEVEL=info
IAM_LOGGER_AS_JSON=true
IAM_LOGGER_ENABLE_OTLP=true
IAM_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
IAM_LOGGER_SERVICE_NAME=iam
IAM_LOGGER_ENV=dev

# -----------------------------------------
# INVENTORY SERVICE
# -----------------------------------------

# gRPC сервер
INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051
# gRPC клиенты
INVENTORY_IAM_GRPC_HOST=localhost
INVENTORY_IAM_GRPC_PORT=50053
# HTTP сервер
INVENTORY_HTTP_HOST=0.0.0.0
INVENTORY_HTTP_PORT=8081

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:8.2.7
INVENTORY_MONGO_EXTERNAL_PORT=27017
INVENTORY_MONGO_HOST=localhost
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=inventory_user
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=inventory_pass

# Logger
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true
INVENTORY_LOGGER_ENABLE_OTLP=true
INVENTORY_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
INVENTORY_LOGGER_SERVICE_NAME=inventory
INVENTORY_LOGGER_ENV=dev

# -----------------------------------------
# ORDER SERVICE
# -----------------------------------------

# gRPC клиенты
ORDER_IAM_GRPC_HOST=localhost
ORDER_IAM_GRPC_PORT=50053
ORDER_INVENTORY_GRPC_HOST=localhost
ORDER_INVENTORY_GRPC_PORT=50051
ORDER_INVENTORY_GRPC_SERVICE_NAME=inventory
ORDER_PAYMENT_GRPC_HOST=localhost
ORDER_PAYMENT_GRPC_PORT=50052
ORDER_PAYMENT_GRPC_SERVICE_NAME=payment

# HTTP сервер
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080
ORDER_HTTP_READ_TIMEOUT=10s

# PostgreSQL
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=5432
ORDER_POSTGRES_EXTERNAL_PORT=5432
ORDER_POSTGRES_USER=orders_user
ORDER_POSTGRES_PASSWORD=orders_pass
ORDER_POSTGRES_DB=orders
ORDER_POSTGRES_SSL_MODE=disable
ORDER_MIGRATION_DIRECTORY=./order/migrations

# Logger
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true
ORDER_LOGGER_ENABLE_OTLP=true
ORDER_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
ORDER_LOGGER_SERVICE_NAME=order
ORDER_LOGGER_ENV=dev

# Kafka
ORDER_KAFKA_BROKERS=localhost:9092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ORDER_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=order-group-order-assembled

# Трейсы
ORDER_TRACE_COLLECTOR_ENDPOINT=localhost:4317
ORDER_TRACE_SERVICE_NAME=order
ORDER_TRACE_ENVIRONMENT=production
ORDER_TRACE_SERVICE_VERSION=1.0.0

# Метрики
ORDER_METRIC_COLLECTOR_ENDPOINT=localhost:4317
ORDER_METRIC_COLLECTOR_INTERVAL=5s

# -----------------------------------------
# PAYMENT SERVICE
# -----------------------------------------

# gRPC сервер
PAYMENT_GRPC_HOST=localhost
PAYMENT_GRPC_PORT=50052

# HTTP сервер
PAYMENT_HTTP_HOST=localhost
PAYMENT_HTTP_PORT=8082

# Logger
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true
PAYMENT_LOGGER_ENABLE_OTLP=true
PAYMENT_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
PAYMENT_LOGGER_SERVICE_NAME=payment
PAYMENT_LOGGER_ENV=dev

# -----------------------------------------
# ASSEMBLY СЕРВИС
# -----------------------------------------

# Kafka настройки
ASSEMBLY_KAFKA_BROKERS=localhost:9092
ASSEMBLY_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID=assembly-group-order-paid
ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled

# Logger
ASSEMBLY_LOGGER_LEVEL=info
ASSEMBLY_LOGGER_AS_JSON=true
ASSEMBLY_LOGGER_ENABLE_OTLP=true
ASSEMBLY_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
ASSEMBLY_LOGGER_SERVICE_NAME=assembly
ASSEMBLY_LOGGER_ENV=dev

# Метрики
ASSEMBLY_METRIC_COLLECTOR_ENDPOINT=localhost:4317
ASSEMBLY_METRIC_COLLECTOR_INTERVAL=5s

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

# Kafka настройки
NOTIFICATION_KAFKA_BROKERS=localhost:9092
NOTIFICATION_ORDER_PAID_TOPIC_NAME=order.paid
NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=notification-group-order-paid
NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-group-order-assembled

# Telegram бот
NOTIFICATION_TELEGRAM_BOT_TOKEN=8889497021:AAFbHVP8zKRvz_SMpo3aWYZbqRLD3kr-c-I

# Logger
NOTIFICATION_LOGGER_LEVEL=info
NOTIFICATION_LOGGER_AS_JSON=true
NOTIFICATION_LOGGER_ENABLE_OTLP=true
NOTIFICATION_LOGGER_OTEL_COLLECTOR_ENDPOINT=localhost:4317
NOTIFICATION_SERVICE_NAME=notification
NOTIFICATION_ENV=dev