# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${ASSEMBLY_ORDER_PAID_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ оплачен"
ORDER_PAID_CONSUMER_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME}

# Logger
LOGGER_LEVEL=${ASSEMBLY_LOGGER_LEVEL}
LOGGER_AS_JSON=${ASSEMBLY_LOGGER_AS_JSON}
LOGGER_ENABLE_OTLP=${ASSEMBLY_LOGGER_ENABLE_OTLP}
LOGGER_OTEL_COLLECTOR_ENDPOINT=${ASSEMBLY_LOGGER_OTEL_COLLECTOR_ENDPOINT}
LOGGER_SERVICE_NAME=${ASSEMBLY_LOGGER_SERVICE_NAME}
LOGGER_ENV=${ASSEMBLY_LOGGER_ENV}

# Настройки метрик
METRIC_COLLECTOR_ENDPOINT=${ASSEMBLY_METRIC_COLLECTOR_ENDPOINT}
METRIC_COLLECTOR_INTERVAL=${ASSEMBLY_METRIC_COLLECTOR_INTERVAL}
