# gRPC настройки
GRPC_HOST=${IAM_GRPC_HOST}
GRPC_PORT=${IAM_GRPC_PORT}

# Уровень логирования
LOGGER_LEVEL=${IAM_LOGGER_LEVEL}

# Выводить логи в формате JSON
LOGGER_AS_JSON=${IAM_LOGGER_AS_JSON}

# Хост PostgreSQL-сервера
POSTGRES_HOST=${IAM_POSTGRES_HOST}

# Внутренний порт PostgreSQL
POSTGRES_PORT=${IAM_POSTGRES_PORT}

# Внешний порт PostgreSQL
EXTERNAL_POSTGRES_PORT=${IAM_EXTERNAL_POSTGRES_PORT}

# Имя пользователя для подключения к PostgreSQL
POSTGRES_USER=${IAM_POSTGRES_USER}

# Пароль пользователя для подключения к PostgreSQL
POSTGRES_PASSWORD=${IAM_POSTGRES_PASSWORD}

# Название базы данных
POSTGRES_DB=${IAM_POSTGRES_DB}

# Режим подключения по SSL (например, disable, require)
POSTGRES_SSL_MODE=${IAM_POSTGRES_SSL_MODE}

# Путь к директории с миграциями
MIGRATION_DIRECTORY=${IAM_MIGRATION_DIRECTORY}

# Хост Redis-сервера
REDIS_HOST=${IAM_REDIS_HOST}

# Внутренний порт Redis (для использования внутри docker-сети)
REDIS_PORT=${IAM_REDIS_PORT}

# Внешний порт Redis (для подключения извне контейнера)
EXTERNAL_REDIS_PORT=${IAM_EXTERNAL_REDIS_PORT}

# Таймаут подключения к Redis
REDIS_CONNECTION_TIMEOUT=${IAM_REDIS_CONNECTION_TIMEOUT}

# Максимальное количество неиспользуемых соединений в пуле
REDIS_MAX_IDLE=${IAM_REDIS_MAX_IDLE}

# Время, через которое неиспользуемое соединение считается устаревшим
REDIS_IDLE_TIMEOUT=${IAM_REDIS_IDLE_TIMEOUT}

# Время жизни пользовательской сессии
SESSION_TTL=${IAM_SESSION_TTL}
