GRPC_HOST=${INVENTORY_GRPC_HOST}
GRPC_PORT=${INVENTORY_GRPC_PORT}

HTTP_HOST=${INVENTORY_HTTP_HOST}
HTTP_PORT=${INVENTORY_HTTP_PORT}

MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}
MONGO_EXTERNAL_PORT=${INVENTORY_MONGO_EXTERNAL_PORT}
MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_PORT=${INVENTORY_MONGO_PORT}
MONGO_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}
MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}

LOGGER_LEVEL=info
LOGGER_AS_JSON=true