# Настройки gRPC-сервиса IAM
IAM_GRPC_HOST=${INVENTORY_IAM_GRPC_HOST}
IAM_GRPC_PORT=${INVENTORY_IAM_GRPC_PORT}

# gRPC клиенты
GRPC_HOST=${INVENTORY_GRPC_HOST}
GRPC_PORT=${INVENTORY_GRPC_PORT}

# HTTP сервер
HTTP_HOST=${INVENTORY_HTTP_HOST}
HTTP_PORT=${INVENTORY_HTTP_PORT}

# MongoDB
MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}
MONGO_EXTERNAL_PORT=${INVENTORY_MONGO_EXTERNAL_PORT}
MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_PORT=${INVENTORY_MONGO_PORT}
MONGO_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}
MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}

# Logger
LOGGER_LEVEL=${INVENTORY_LOGGER_LEVEL}
LOGGER_AS_JSON=${INVENTORY_LOGGER_AS_JSON}
LOGGER_ENABLE_OTLP=${INVENTORY_LOGGER_ENABLE_OTLP}
LOGGER_OTEL_COLLECTOR_ENDPOINT=${INVENTORY_LOGGER_OTEL_COLLECTOR_ENDPOINT}
LOGGER_SERVICE_NAME=${INVENTORY_LOGGER_SERVICE_NAME}
LOGGER_ENV=${INVENTORY_LOGGER_ENV}