# ----------------------------
# Настройки Telegram бота
# ----------------------------

# Токен Telegram бота
TELEGRAM_BOT_TOKEN=${NOTIFICATION_TELEGRAM_BOT_TOKEN} 

# ----------------------------
# Kafka настройки
# ----------------------------

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${NOTIFICATION_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${NOTIFICATION_ORDER_PAID_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ оплачен"
ORDER_PAID_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ собран"
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID}

# ----------------------------
# Настройки логгера
# ----------------------------

LOGGER_LEVEL=${NOTIFICATION_LOGGER_LEVEL}
LOGGER_AS_JSON=${NOTIFICATION_LOGGER_AS_JSON}
LOGGER_ENABLE_OTLP=${NOTIFICATION_LOGGER_ENABLE_OTLP}
LOGGER_OTEL_COLLECTOR_ENDPOINT=${NOTIFICATION_LOGGER_OTEL_COLLECTOR_ENDPOINT}
LOGGER_SERVICE_NAME=${NOTIFICATION_LOGGER_SERVICE_NAME}
LOGGER_ENV=${NOTIFICATION_LOGGER_ENV}
