# Настройки gRPC-сервиса IAM
IAM_GRPC_HOST=${ORDER_IAM_GRPC_HOST}
IAM_GRPC_PORT=${ORDER_IAM_GRPC_PORT}

# Настройки gRPC-сервиса Inventory
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}

# Настройки gRPC-сервиса Payment
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_PORT}

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ORDER_KAFKA_BROKERS}
# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${ORDER_ORDER_PAID_TOPIC_NAME}
# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${ORDER_ORDER_ASSEMBLED_TOPIC_NAME}
# Идентификатор consumer group для обработки событий "Заказ собран"
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=${ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID}

HTTP_HOST=${ORDER_HTTP_HOST}
HTTP_PORT=${ORDER_HTTP_PORT}
HTTP_READ_TIMEOUT=${ORDER_HTTP_READ_TIMEOUT}

POSTGRES_HOST=${ORDER_POSTGRES_HOST}
POSTGRES_PORT=${ORDER_POSTGRES_PORT}
POSTGRES_EXTERNAL_PORT=${ORDER_POSTGRES_EXTERNAL_PORT}
POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
POSTGRES_DB=${ORDER_POSTGRES_DB}
POSTGRES_SSL_MODE=${ORDER_POSTGRES_SSL_MODE}

MIGRATION_DIRECTORY=${ORDER_MIGRATION_DIRECTORY}

LOGGER_LEVEL=info
LOGGER_AS_JSON=true