# gRPC сервер
GRPC_HOST=${PAYMENT_GRPC_HOST}
GRPC_PORT=${PAYMENT_GRPC_PORT}

# HTTP сервер
HTTP_HOST=${PAYMENT_HTTP_HOST}
HTTP_PORT=${PAYMENT_HTTP_PORT}

# Logger
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}
LOGGER_ENABLE_OTLP=${PAYMENT_LOGGER_ENABLE_OTLP}
LOGGER_OTEL_COLLECTOR_ENDPOINT=${PAYMENT_LOGGER_OTEL_COLLECTOR_ENDPOINT}
LOGGER_SERVICE_NAME=${PAYMENT_LOGGER_SERVICE_NAME}
LOGGER_ENV=${PAYMENT_LOGGER_ENV}