💳 **ОПЛАТА ПРОШЛА УСПЕШНО!** ✅

🆔 **Номер заказа:** {{.OrderUUID}}
👤 **ID пользователя:** {{.UserUUID}}
🧾 **ID транзакции:** {{.TransactionUUID}}
🧾 **Метод оплаты:** {{.PaymentMethod}}
🕐 **Время оплаты:** {{.PaidAt.Format "2006-01-02 15:04:05"}}

🚀 Заказ оплачен! Спасибо за покупку! 🙏
